@import 'antd/es/style/themes/default.less';

// Fonts
@font-face {
  font-family: 'Aniron';
  src:
    url('../fonts/aniron.ttf') format('truetype'),
}

// Main App
.app {
  width: 100vh;
  width: 100vw;
  border: 5px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
  color: white;
}

// Map
.leaflet-container {
  width: 100vw;
  height: 100vh;
  // background-image: url(../img/Landing_Page.png);
  background-image: url("../img/DarkWood.jpg");
  box-shadow:
    inset 0 0 500px rgb(0, 0, 0),
    inset 0 0 500px rgb(0, 0, 0),
    inset 0 0 500px rgb(0, 0, 0);

}

::-webkit-scrollbar {
  display: none;
}

.marker-popup {
  width: 50vw;
  height: 50vh;
}

.leaflet-popup-content-wrapper {
  background: black;
  color: white;
}

.lyt-activated {
  width: 47vw;
  height: 47vh;
}

#mainMap {
  display: flex;
  justify-content: center;
}

.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: black;
  color: white;
}

// Side Bar
#sideBar {
  font-family: 'Aniron', sans-serif;
  background-color: black;
}

.ant-layout-sider-children {
  background-color: black;
}

.ant-layout-sider-trigger {
  background-color: black;
  width: 400px;
}

.website-logo {
  height: 43px;
  margin: 16px;
  margin-top: 25px;
  filter: invert(100%);
}

/* Fade In */
#mainMap {
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-moz-keyframes fadein { /* Firefox */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
  from {
      opacity:0;
  }
  to {
      opacity:1;
  }
}
@-o-keyframes fadein { /* Opera */
  from {
      opacity:0;
  }
  to {
      opacity: 1;
  }
}
