@import 'antd/es/style/themes/default.less';

// Fonts
@font-face {
  font-family: 'Aniron';
  src:
    url('../fonts/aniron.ttf') format('truetype')
}

body {
  background-color: #c5b7a8;
}

// Main App
.app {
  width: 100vh;
  width: 100vw;
  border: 5px solid rgb(0, 0, 0);
  background-color: rgb(0, 0, 0);
}

#content {
  width: 100vw;
  position: relative;
}

// Map
.leaflet-container {
  width: 100vw;
  height: 100vh;
	background: rgba(221, 221, 221, 0);
  box-shadow:
    inset 0 0 300px rgb(0, 0, 0),
    inset 0 0 300px rgb(0, 0, 0),
    inset 0 0 300px rgb(0, 0, 0);
  backdrop-filter: blur(5px);
}

::-webkit-scrollbar {
  display: none;
}

.marker-popup {
  max-width: 43.5vw;
  width: 45.5vw;
  height: 50vh;
  filter: drop-shadow(2px 2px 2px #000000)
}

.leaflet-popup-content {
  margin: 0px 25px 0px 0px !important;
  margin-left: 5px;
}

.leaflet-popup-content-wrapper {
  font-size: 12px;
  filter: drop-shadow(2px 2px 2px #000000);
  border: 28px solid;
  border-image-source: url(../img/panel.png);
  border-image-slice: 100 fill;
}

.html5-video-container video {
  filter: drop-shadow(5px 5px 5px #000000);
}

.leaflet-bottom {
  display: none;
}

.lyt-activated {
  width: 42.5vw;
  max-width: 40.5vw;
  min-width: 40.5vw;
  height: 47vh;
}

#mapBackground {
  background-image: url('../img/Landing_Page.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
  background-color: black !important;
}

.leaflet-bar a,
.leaflet-bar a:hover {
  background-color: black;
  color: white;
  filter: drop-shadow(2px 2px 2px #000000)
}

// Side Bar
#sideBar {
  font-family: 'Aniron', sans-serif;
  position: absolute;
  z-index: 10;
  margin-top: 30vh;
  margin-bottom: 10vh;
  transform: rotate(180deg);
  filter: drop-shadow(5px 5px 30px black);
}

#sideBar a:hover{
  color: rgba(0, 0, 0, 0.647) !important;
}

#sideBar a {
  color: black;
  font-weight: bolder;
  padding-left: 15px;
  font-size: 16px;
}

.ant-menu-item {
  padding-left: 5px !important;
  padding-right: 5px !important;
  height: 60px !important;
}

.leaflet-marker-icon:hover {
  filter: brightness(1.5);
  filter: saturate(1.5);
}

.ant-menu.ant-menu-dark {
  border: 20px solid;
  border-image-source: url(../img/panel.png);
  border-image-slice: 100 fill;
}

.collapsedSidebar span {
  transform: rotate(180deg) !important;
}

.sidebar span {
  transform: rotate(180deg) !important;
}


.ant-layout-sider-trigger {
  display: none;
}

.ant-layout-sider {
  background: rgba(0, 0, 0, 0);
  padding-bottom: 0px !important;
}

.ant-layout {
  background-color: rgba(0, 0, 0, 0);
}

#sideBar img {
  padding: 4px;
  transform: rotate(180deg);
  width: 60px;
  height: 60px;
}

#settings {
  padding-top: 30vh;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px #c8bb00, 0 0 20px #c8bb00, 0 0 30px #9f8200, 0 0 40px #9f8200, 0 0 50px #9f8200, 0 0 60px #9f8200, 0 0 70px #9f8200;
  }
  to {
    text-shadow: 0 0 20px #000000, 0 0 30px #c8bb00, 0 0 40px #c8bb00, 0 0 50px #c8bb00, 0 0 60px #c8bb00, 0 0 70px #c8bb00, 0 0 80px #c8bb00;
  }
}