.feedbackForm {
    text-align: center;
    height: 80vw;
    color: white;
    align-content: center;
    padding-left: 30vw;
    padding-top: 150px;
    background-color: #031B1F;
    border-style: 5px solid black;
}

.feedbackSubmit {
    padding-bottom: 10px;
}

.label {
    color: white;
}