@font-face {
    font-family: 'Aniron';
    src:
        url('../fonts/aniron.ttf') format('truetype'),
}

.layout {
    width: 100vw;
    align-content: center;
    text-align: center;
}

.header {
    width: 100%;
    height: 9.3vh;
    align-content: center;
    font-size: 32px;
    font-family: 'Aniron', sans-serif;
    padding-top: 10px;
    color: rgb(244, 244, 244);
    position: absolute;
    z-index: 1;
    background-color: transparent;
}
.content {
    padding: 100px;
    padding-top: 15vh;
    width: 100%;
    height: 100vh;
    text-align: center;
    font-size: 50px;
    color: black;
    font-size: large;
    box-shadow:
      inset 0 0 300px rgb(0, 0, 0),
      inset 0 0 300px rgb(0, 0, 0),
      inset 0 0 300px rgb(0, 0, 0);
    backdrop-filter: blur(5px);
}

.content h2 {
    font-family: 'Aniron', sans-serif;
    color: rgb(251, 168, 0);
    filter: drop-shadow(2px 2px 2px #000000);

}

.content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-top: 200px
}

.content li {
    display: inline;
}

.content li > a {
    color: rgb(251, 168, 0);
    font-size: 30px;
    padding-top: 180px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 50%;
    filter: drop-shadow(2px 2px 2px #000000);
}

.content p {
    font-size: 30px;
    color: rgb(255, 187, 39);
}

.content a {
    color: gold;
}

.content a:hover {
    color: rgb(255, 162, 0);
}

.goldenHostLink {
    background: url('../img/logos/GoldenHost.png') no-repeat 50% 0px;
}

.lotroCollectionLink {
    background: url('../img/logos/lotro-collection.png') no-repeat 50% 0px;
}

.ambientWorldsLink {
    background: url('../img/logos/ambientWorld.png') no-repeat 50% 0px;
}

.main {
    background-color: black;
}

.footer {
    width: 100%;
    height: 10.7vh;
    align-content: center;
    font-size: small;
    background-color: #000000;
}

.feedbackForm {
    padding-top: 0%;
}