@import '~antd/dist/antd.dark.css';

// Variables
$bg-color: rgb(0, 0, 0);
$border-color: rgb(0, 0, 0);

// Fonts
@font-face {
  font-family: 'Aniron';
  src:
    url('../fonts/aniron.ttf') format('truetype'),
}

// Main App
.app {
  width: 100vh;
  width: 100vw;
  border: 5px solid $border-color;
  background-color: $bg-color;
  color: white;
}

// Map
.leaflet-container{
  width: 100vw;
  height: 100vh;
  background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.wallpapersafari.com%2F14%2F78%2F2zwYIJ.jpg&f=1&nofb=1");
  background-repeat: repeat;
}

.marker-popup {
  width: 50vw;
  height: 50vh;
}

.leaflet-popup-content-wrapper {
  background: black;
  color: white;
}

.lyt-activated {
  width: 47vw;
  height: 47vh;
}

#mainMap {
  display: flex;
  justify-content: center;
}

// Side Bar
#sideBar {
  font-family: 'Aniron', sans-serif;
}

.website-logo {
  height: 43px;
  margin: 16px;
  margin-top: 25px;
  filter: invert(100%);
}