$bg-color: rgb(255, 255, 255);
$border-color: rgb(197, 197, 62);

.app {
  font-family: helvetica, arial, sans-serif;
  padding: 2em;
  border: 5px solid $border-color;
  text-align: center;

  p {
    background-color: $bg-color;
  }
}
