{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "react-refresh/babel",
    [
      "babel-plugin-dotenv",
      {
        "replacedModuleName": "babel-dotenv"
      }
    ],
    ["@babel/transform-runtime"]
  ],
  "env": {
    "production": {
      "presets": [
        "minify"
      ]
    }
  }
}